<p>
  <%= link_to 'post#index', root_path %>
</p>

<h3><%= @post.title %></h3>
<p><%= @post.content %></p>

<p>
  Comments count:
  <span data-role='comments_sum'>
    <%= @post.comments_sum %>
  </span>
</p>

<%= render partial: comment_template('tree'),
  locals: { commentable: @post, comments_tree: @comments }
%>
